/* Fet per Mateo Salamanca */
body{
    margin: 0%;
}
.barra_superior{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding: 0px 16px;
}
.esquerre{
    display: flex;
    align-items: center;
}
menu{
    width: 40px;
    height: 40px;
    padding: 8px;
}
.logoyt{
    width: 100%;
    height: 100%;
    padding: 18px 14px 18px 16px;
}
.centre{
    margin-left: 10%;
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra_busqueda{
    display: flex;
    align-items: center;
    height: 40px;
    width: 90%;
}
.buscador{
    display: flex;
    align-items: center;
    height: 40px;
    width: 83%;
    border: solid 1px #565656;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 4px 0px 16px;
    background-color: #0f0f0f;
}
.buscar{
    color: #565656;
    font-family: Roboto;
}
.lupa{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    border: 1px solid #565656;
    background-color: #ffffff14;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.microfon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 100%;
}
.img_microfon{
    height: 40px;
    width: 40px;
}
.dreta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 20%;
    padding-right: 16px;
}
.crear{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 35%;
    overflow: hidden;
}
.img_crear{
    height: 100%;
    width: 100%;
}
.campana{
    height: 24px;
    width: 24px;
    padding: 16px;
}
.usuari{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 172, 55);
    border-radius: 100%;
}
.m_usuari{
    color: white;
    font-family: Roboto;
}